* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
  text-size-adjust: 100%;
}
html * {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-size-adjust: 100%;
}

body,
html {
    font-family: Microsoft YaHei,Helvetica Neue,Helvetica,Roboto,STHeiTi,Arial,sans-serif;
}

body {
    overflow-x: hidden;
    position: relative;
    color: #000;
    background: #fff;
}

a {
    text-decoration: none;
}
@import 'configuration.less';
@import 'property.less';
@import 'variable.less';

body{
  .fs(16);
}
p{
  -webkit-text-size-adjust:none;
  .fs(30);
}
img{
  .w(200);
}
